@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Added common font family for entire page */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Azeret Mono", monospace;
}


    /* header part background */
header {
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.hero-area {
    text-align: center;
}
.hero-area img {
    width: 240px;
    height: 240px;
}
.web-dev-top-part, .my-current-target{
    margin-top: 30px;
}
.hero-area h2 {
    font-weight: 800;
    margin: 20px 0px;
    font-size: 36px;
}

.hero-area p {
    font-size: 16px;
    margin-bottom: 20px;
}
 
    /* hero area section button */
.contact-btn {
    font-size: 600;
    padding: 21px 24px;
    background-color: #0D1321;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Second Section started. Why web development? */
.web-dev-top-part {
    margin-bottom: 30px;
    text-align: center;
}

.web-dev-top-part h2 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}

.web-dev-top-part p {
    font-weight: 400;
    font-size: 16px;
}

.web-dev-sigle-part  {
    display: flex;
    justify-content: space-between;
}

.single-div {
    width: 450px;
}

.single-div-title {
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0px;
}

.web-dev-btn {
    font-weight: 600;
    padding: 12px 20px;
    margin: 20px 0px;
    cursor: pointer;
    background: transparent;
}


/* Third section: my inspiration */
.inspiration {
    text-align: center;
}

.inspiration p {
    margin: 25px 0px;
}

/* Programming Language to learn web development */

.learning-components {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.single-components {
    width: 330px;
    background-color: #ff651e10;
    padding: 30px;
    border-radius: 10px;
}

.single-components img, .single-components p {
    margin: 15px 0px;
    text-align: justify;
}

.single-components a {
    color: #000;
    font-weight: 800;
}

.bg-second {
    background-color: #d3cfcf;
}

.bg-third {
    background-color: #ffdd0042;
}

/* Support Section */

.support-part {
    background: url(assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin: 50px 0px;
    text-align: center;
    border-radius: 10px;
}

.support-part h3 {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    padding: 30px 0px;
    z-index: 2;
}

.support-part p {
    font-size: 16px;
    padding-bottom: 50px;
    color: #fff;
    z-index: 2;
}

input[type="text"]{
    width: 500px;
    font-size: 14px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
}

input[type="submit"]{
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

/* Footer Section */

#footer {
    background-color: #d8d8d846;
    padding: 10px 30px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}